**/node_modules
**/npm-debug.log
**/yarn.lock
**/.env
**/.env.local
.git
.gitignore
.vscode
.idea
*.swp
*.swo
**/dist
**/build
**/.next
**/logs
**/*.log
.DS_Store
Thumbs.db
**/coverage
**/.prettierrc
**/.eslintrc*
**/README.md
