.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.login-page-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    background-color: #fff;
}

.login-page-input {
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-page-checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
    cursor: pointer;
    user-select: none;
}

.login-page-checkbox-label input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.login-page-button {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #1890ff;
    color: #fff;
}

.login-page-error {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgb(255, 0, 0);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 600;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
