.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1rem;
}

.wrapper {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 60%;
    min-height: 100%;
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #f4f4f4;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    border: 1px solid rgb(0, 0, 0);
}

th {
    font-weight: bold;
}
